.FoodCardContainer{
    height:400px;
    width: 300px;
    background-color:darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    margin:20px;
}

.foodImage{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}