
.navContainer{
    width:100%;
    height: 70px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: 10%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #ff0e19;
}

.logo_second{
    font-size: 30px;
    font-weight: lighter;
    color:black
}

.nav-logo{
    display: None;
}


nav ul{
   display: flex;  
   list-style-type: none;

}
nav ul li a{
    display: block;
    margin: 0 5px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 3px;
    text-decoration: none;
    color:black;
}

nav ul li a:hover{
    background-color: #ff0e19;
    color: aliceblue;
}

.menu{
    height: 24px;
    width: 24px;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}


.hamburger>img{
    height: 28px;
    width: 28px;
}

@media only screen and (max-width:1100px){
    .navContainer{

        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: whitesmoke;
        transition: 0.2s;
        box-shadow: -1px -1px 20px 0px rgba(26,26,26,0.36);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }


    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 20px;
    }

    .hamburger{
        display: block;
        margin-top: 10px;
    }
}